.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.slider {
  background-color: #000;
  height: 100vh;
}

.background-video-2 {
  height: 100vh;
}

.slide-nav {
  z-index: 421;
  font-size: 5px;
  display: block;
}

.right-arrow {
  z-index: 420;
  cursor: crosshair;
  font-size: 14px;
  display: none;
  inset: 0% 0% 0% auto;
}

.left-arrow {
  z-index: 420;
  font-size: 14px;
  display: none;
  inset: 0% auto 0% 0%;
}

.nav-wrapper {
  z-index: 420;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.top-nav {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.center-logo {
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.bottom-nav {
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.heading {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.div-block {
  display: inline-block;
}

.nav-link {
  color: #fff;
  font-family: ibm-plex-mono, sans-serif;
}

.nav-link.blk {
  color: #000;
}

.image {
  filter: invert();
  width: 80px;
}

.icon, .icon-2 {
  display: none;
}

.sticky-desktop-nav {
  z-index: 69;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 0;
  position: sticky;
  top: 0;
}

.logo-wrapper {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image-2 {
  width: 80px;
}

.nav-sticky-inner {
  grid-column-gap: 75px;
  grid-row-gap: 75px;
  border-bottom: 1px solid #000;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;
  display: flex;
}

.placeholder {
  height: 1000px;
}

.div-block-3 {
  text-align: center;
  background-color: #0000;
  width: 50%;
  font-size: 10px;
  display: block;
  position: static;
  inset: auto 0% 11%;
}

.paragraph {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 8px;
  line-height: 1.2;
}

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.mission-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 73px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.h-1 {
  color: #000;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.h-1.right {
  color: #000;
  text-align: right;
}

.h-1.white {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
}

.h-1.left {
  text-align: left;
}

.h-1.left.black {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}

.h-1.black {
  color: #000;
}

.h-1.smaller {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}

.mission-headline {
  margin-top: 0;
  line-height: 1;
}

._002 {
  margin-top: 69px;
  margin-bottom: 0;
}

.image-3 {
  display: none;
  transform: rotate(180deg);
}

.italic-text {
  color: #000;
  text-transform: uppercase;
  display: block;
}

.italic-text.white {
  color: #fff;
}

.italic-text.white.center {
  text-align: center;
}

.italic-text-2 {
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
}

.semi-big-paragraph {
  margin-top: 0;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.semi-big-paragraph.right {
  text-align: right;
  width: 72%;
  font-size: 18px;
  line-height: 25px;
}

.semi-big-paragraph.partners {
  margin-top: 18px;
  font-size: 18px;
}

.semi-big-paragraph.left {
  text-align: left;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
}

.semi-big-paragraph.left.smaller {
  font-size: 16px;
  line-height: 20px;
}

.headerimage {
  overflow: visible;
}

.science-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top: 1px solid #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 73px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.science-headline {
  background-color: #0000;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}

.science-headline.black {
  background-color: #000;
}

.science-paragraph {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.history-header {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  display: block;
}

.history-paragraph {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  display: block;
}

.building-biobots {
  margin-top: 91px;
  padding-left: 15px;
  padding-right: 15px;
}

.capabilities {
  padding-top: 20px;
  padding-bottom: 0;
}

.can-cant {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #0000;
  border: 1px #000;
  border-radius: 0;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 15px 10px;
  display: grid;
}

.publications {
  padding: 0 15px 78px;
}

.team {
  border-top: 1px solid #000;
  padding: 10px 15px 0;
}

._004 {
  background-color: #adadad00;
  padding-left: 15px;
  padding-right: 15px;
}

._005 {
  padding: 69px 15px;
}

.footer {
  background-color: #0000;
  height: 50px;
}

.paragraph-2 {
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 13px;
  line-height: 15px;
}

.can-cant-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.div-block-4 {
  flex-flow: column;
  display: flex;
}

.inner-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.list-p {
  font-family: ibm-plex-mono, sans-serif;
}

.cants {
  flex-flow: column;
  width: 100%;
  margin-top: 0;
  display: block;
}

.list {
  color: #000;
  padding-left: 20px;
  font-size: 20px;
}

.can-list-item {
  font-family: ibm-plex-sans, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.can-list-item:hover {
  color: #0f1;
}

.can-list-item.red:hover {
  color: red;
}

.cans {
  color: #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: block;
}

.form-wrapper {
  margin-top: 30px;
}

.names-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  display: grid;
}

.background-video-3 {
  height: 350px;
}

.science-video-wrapper {
  background-color: #0000;
  height: 400px;
  display: none;
}

.background-video-4 {
  height: 400px;
}

.skinny {
  max-width: 650px;
}

.companies-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  display: grid;
}

.textarea {
  min-height: 170px;
  margin-bottom: 27px;
  font-family: ibm-plex-mono, sans-serif;
}

.submit-button {
  outline-offset: 0px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 30px;
  outline: 1px dashed #997474;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 12px;
  display: block;
}

.text-field, .text-field-2 {
  width: 100%;
  font-family: ibm-plex-mono, sans-serif;
}

.text-field-3, .text-field-4 {
  font-family: ibm-plex-mono, sans-serif;
}

.paragraph-3 {
  color: #ffffffb3;
  text-align: center;
  font-family: ibm-plex-mono, sans-serif;
  font-size: 8px;
}

.div-block-5 {
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
}

.partners-headline {
  text-align: left;
  margin-top: 0;
  line-height: 1;
}

.team-wrapper {
  border: 1px #000;
  padding: 0 0 69px;
}

.team-members {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  outline-offset: 0px;
  mix-blend-mode: normal;
  outline: 3px #333;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 37px;
  padding-left: 0;
  padding-right: 0;
}

.member-block {
  flex-flow: column;
  display: flex;
}

.topline {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-6 {
  font-family: ibm-plex-mono, sans-serif;
  font-size: 16px;
}

.paragraph-4 {
  margin-top: 15px;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 14px;
  display: inline;
}

.paragraph-5 {
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.div-block-7, .div-block-8 {
  width: 600px;
}

.container-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.paragraph-6 {
  font-family: ibm-plex-mono, sans-serif;
}

.grid {
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.background-video-5 {
  height: 50px;
}

.container {
  border-top: 1px solid #000;
  padding-top: 66px;
}

.p1 {
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
  margin-top: auto;
  margin-bottom: auto;
  font-family: ibm-plex-sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.p1.bold {
  font-family: ibm-plex-sans, sans-serif;
  font-style: normal;
}

.p2 {
  font-family: ibm-plex-sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.p2.wide {
  line-height: 30px;
}

.heading-3 {
  font-style: normal;
}

.h-2 {
  text-transform: uppercase;
  font-family: ibm-plex-sans-condensed, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
}

.team-header {
  margin-top: 44px;
}

.container-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 479px) {
  .right-arrow, .left-arrow {
    display: none;
  }

  .center-logo {
    justify-content: center;
    align-items: center;
  }

  .nav-link.hide {
    display: none;
  }

  .icon, .icon-2 {
    display: block;
  }

  .logo-wrapper {
    justify-content: center;
    align-items: flex-start;
    display: none;
  }

  .nav-sticky-inner {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }

  .div-block-3 {
    display: none;
  }

  .heading-2 {
    font-size: 17px;
  }

  .spanman {
    text-align: justify;
    font-size: 70px;
    line-height: 0;
    display: inline-block;
  }

  .h-1.left.black {
    font-size: 20px;
    line-height: 30px;
  }

  .semi-big-paragraph {
    font-size: 17px;
    line-height: 25px;
  }

  .semi-big-paragraph.right {
    width: auto;
    font-size: 17px;
  }

  .semi-big-paragraph.partners {
    font-size: 15px;
    line-height: 23px;
  }

  .semi-big-paragraph.left {
    width: auto;
    font-size: 17px;
  }

  .building-biobots {
    padding-left: 14px;
    padding-right: 14px;
  }

  .can-cant {
    grid-template-columns: 1fr;
    padding: 69px 15px 15px;
  }

  .cants {
    margin-bottom: 69px;
  }

  .team-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .team-members {
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph-5 {
    font-size: 15px;
    line-height: 19px;
  }

  .div-block-7 {
    width: auto;
    max-width: 600px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .container-right {
    padding-left: 13px;
    padding-right: 13px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .p1, .p1.bold {
    font-size: 17px;
    line-height: 23px;
  }

  .p2.wide.mob {
    font-size: 16px;
    line-height: 22px;
  }
}

#w-node-_1a6ad4b2-9caa-81c9-c0a0-e2b609845811-da458b46, #w-node-_68d16d2d-7a13-0baa-9f82-e8fd5e2c8f7f-da458b46, #w-node-_3ab865eb-6ade-73dc-0a95-23ab548ea5a5-da458b46, #w-node-c6f7b7a6-7dae-be3f-3303-0fb0c54df546-da458b46, #w-node-b5603320-0b7b-2403-e95b-ed32cf5e1af5-da458b46 {
  align-self: end;
}


